/* style.css */

body {
  font-family:'Arial',sans-serif;
  margin:0;
  padding:0;
}

header h1 {
  text-align:center;
  font-size:36px;
}

body {
  background:#000;
}

html, body {
  padding:0;
  margin:0;
}

body {
  margin:0;
  text-align:center;
  background:#30333f;
  color:#f0f0f0;
  padding:0;
  box-sizing:border-box;
  border-left:1px solid #000;
  border-right:1px solid #000;
}

header, footer {
  background:#1b1b1b;
  position:fixed;
  width:100%;
}

footer {
  bottom:0;
}

header {
  top:0;
}

#spacer-top {
  height:138px;
}

#spacer-bottom {
  height:76px;
}

main {
  padding-top:138px;
  padding-bottom:76px;
  padding-left:6px;
  padding-right:6px;
  display:none;
}

.progress {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height:16px;
}

.progress > svg {
  height: 100%;
  display: block;
}

.progress-background {
  position: relative;
  top: -16px;
  height: 16px;
  border: 1px solid #5a82a5;
  z-index: -1;
  box-sizing: border-box;
}

.container-progress {
  height:16px;
}

.red-text {
  color:#f00;
}

.black-text {
  color: #000000;
  background-color: #FFF;
}

#finance-status-good, #finance-status-bad {
  display:none;
}

.global-good #finance-status-good {
  display:block;
}

.global-good #finance-status-bad {
  display:none;
}

.global-bad #finance-status-bad {
  display:block;
}

.global-bad #finance-status-good {
  display:none;
}

#savings-more {
  font-size:12px;
}

.aligned-left-para {
  text-align: left;
  padding-top: 60px;
  padding-left: 42px;
  padding-right:42px;
  font: Arial;
  font-weight: bold;
  font-size: 32pt;
}

.aligned-left-para p, .aligned-left-para label {
  font-size: 18pt;
  /*  font-weight:normal;
*/}

.lower-button {
  bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 24px;
}

.lower-button span {
  padding: 2px 6px;
  border: 1px solid #a0a0a0;
  border-radius: 6px;
}

.add-button {
/*  bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;*/
  font-size: 24px;
  margin-top: 20px;
  margin-right: 5px;
  text-align: right
}

.add-button span {
  padding: 2px 6px;
  border: 1px solid #a0a0a0;
  border-radius: 6px;
}
/* Setup screen formatting */
.setup h2.finance-status {
  display:none!important;
}

.setup footer {
  display:none;
}

.setup main {
  padding-top:90px;
  padding-bottom:6px;
}



.setup input, .setup button {
  font-size: 20pt;
  /*width: 100%;*/
  background: #51516d;
  color: white;
  border: 1px solid #5e6163;
  /*border-radius: 3px;*/
  padding: 3px 6px;
}

.setup input:focus {
  outline-color: #79c9d6;
}

.setup button {
  width:auto;
}

form #email {
  top: 1px;
  position: relative;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

form #password {
  top: -8px;
  position: relative;
  margin: 0;
  border-radius: 0 0 4px 4px;
  border-top:0;
}

form fieldset {
  margin: 0;
  border: 0;
  padding: .35em 0 .75em;
}

.setup main h1 {
  text-align: left;
    font-size: 32pt;
    margin-top: 0;
}

#welcome-3 form fieldset p {
  margin-bottom: 0;
  margin-top: 2px;
}

#welcome-3 form fieldset input[type="range"] {
  width: 100%;
}

#welcome-4 form fieldset p {
  margin-bottom: 0;
  margin-top: 2px;
}

.transactions table {
  width: 80%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    /*border-bottom: 1px solid #6b6b6b;*/
}

.transactions td {
      border-bottom: 1px solid #6b6b6b;
}

.transactions td:nth-child(1) {
  width:80%;
  text-align:left;
}

.transactions td:nth-child(2) {
  width:20%;
  text-align:right;
}

.transactions h4 {
  margin:auto;
}

.transactions .amount {
  font-size:28px;
}
